@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>

   
</address>

<div>
    <h1>Contact:</h1>
    <p>GFO</p>
    <img src="~/Content/200px-Diario_ABC_logo.svg (1).png" width="104" height="142">

</div>

<address>
    <strong>IMG:</strong>   <a href="https://pl.wikipedia.org/wiki/ABC_(dziennik_hiszpa%C5%84ski)#/media/File:Diario_ABC_logo.svg">IMG.show</a><br />  
</address>